@charset "UTF-8";
body{
	background-size:cover;
	background-repeat:no-repeat;
}

.location{
	display:flex;
	flex-direction:row-reverse;
	align-items:center;
	height: 10vh;
}
.location_text{
	magin-right:20px;
	font-size:1.5vw;
	color:white;
}
.main{
	display:flex;
	justify-content:center;
	align-items:center;
	height:80vh;
}

.todo-list{
	width:20vw;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
	display:none;
	flex-direction: column;
	align-items: center;
}

.todo-list p{
	color:white;
	font-weight:bolder;
	text-align:center;
	font:3vw;
	margin:10px 0 10px 0;
}
.todo-list div{
	position:relative;
	color:white;
	width:80%;
	font-weight:bolder;
	text-align:center;
	font-size:1.5vw;
	padding:10px 0 10px 0;
	margin-bottom:10px;
	background-color:lightblue;
	
}
.wrap_todo{
	position:relative;
	width:40vw;
	height:20vw;
	max-height:78vh;
	background-color:rgba(0,0,0,0.5);
	margin-right:20vw;
}
.wrap_user{
	position:relative;
	width:40vw;
	height:20vw;
	max-height:78vh;
	background-color:rgba(0,0,0,0.5);
}
.clock{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	height:30%;
	color:white;
}
.name{
	display:flex;
	align-items:center;
	justify-content: center;
	height:70%;
}
.inp_name, .inp_todo{
	font-size:3vw;
	font-style:italic;
	color:white;
	padding:10px;
	border-radius: 30%;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color:white;
	background-color:transparent;
	outline:none;
}
.inp_name::placeholder, .inp_todo::placeholder{
	color:white;
	text-align:center;
}
.to-do{
	height:20%;
}
.clock>div{
	text-align:center;
	font-size:2vw;
	font-weight: bolder;
}
.footer{
	display:flex;
	flex-direction:row-reverse;
	align-items:center;
	height: 10vh;
}
.footer_text{
	margin-left:20px;
	font-size:1.5vw;
	color:white;
}